.Recommended_section {
  padding: 10px;
  margin: 0 5px 0 5px;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: border 0.4s;
  position: relative;
  cursor: pointer;
  width: 200px;
  height: auto;
}

.Recommended_section:hover {
  z-index: 10;
  border: 1px solid var(--highlight-color);
  transition: border 0.5s ease-out;
}

.Recommended_section_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Recommended_section_content img {
  width: 250px;
  height: 240px;
  padding-bottom: 20px;
}

.movie_title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  height: 40px;
}

.Movie_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Movie_info span {
  
  font-size: 10px;
  color: var(--highlight-color);
  padding: 0 20px;
}
