.Recommended_section {
  padding: 10px;
  margin: 0 5px 0 5px;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: border 0.4s;
  position: relative;
  cursor: pointer;
}

.Recommended_section:hover {
  z-index: 10;
  border: 1px solid var(--highlight-color);
  transition: border 0.5s ease-out;
}

.background_color-test {
  background-color: rgb(71, 71, 71);
  width: 150px;
  height: 160px;
}


.movie_title {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 10px 0;
  justify-content: center;

}

.Movie_info {
  display: flex;
  justify-content: center;
}

.Movie_info span {
  font-size: 10px;
  color: var(--Text-color);
  padding: 5px;
}
