.ItemDetail {
  color: var(--Text-color);
}
.itemDetailNavBar {
  display: flex;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 10%,
    rgba(0, 0, 0, 0.871) 40%,
    rgba(0, 0, 0, 0.678) 60%,
    rgba(0, 0, 0, 0.408) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

.HeroImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.ItemContainer_gradient {
  background: rgba(149, 148, 148, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.2px);
  -webkit-backdrop-filter: blur(13.2px);
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  color: white;
}

.detailsContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  position: relative;
  gap: 90px;
}

.ItemIMG {
  width: 250px;
  height: 300px;
  border-radius: 15px;
}

.ItemContainer_details {
  width: 100%;
  color: var(--Text-color);
}

.GenereContainer {
  color: var(--highlight-color);
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.GenereContainer li {
  background-color: var(--main-color);
  padding: 9px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.castIMG li {
  color: var(--highlight-color);
  list-style: none;
}
