.Menu_Container {
  /*   position: absolute;
 */
  color: var(--main-color);
}

.HeroImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
  width: 100%;
}

.HeroImg_container-info {
  color: var(--main-color);
  background-size: cover;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.97) 82%,
    rgba(0, 0, 0, 0.952) 50%,
    rgba(18, 18, 18, 0.011) 100%
  );
  position: relative;
  height: calc(100vh - 90px);
  width: 100%;
  padding-left: 20px;
  top: 0;
  bottom: 0; 
  transform: translateY(45%); /* Adjust the percentage as needed */
}

.HeroImg_container-discriptions {
  color : var(--Text-color) ;
  width: 700px;
  height: auto;
}


.HeroImg_container-info_btn {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: var(--second-color);

  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 10px 0 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

}



.watchNow:hover {
  background-color: var(--main-color);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;

}

.HeroImg_container-info_btn.addList {
  color: var(--main-color);
  background-color: rgb(48, 48, 48);
}
.HeroImg_container-info_btn.addList:hover {
  background-color: rgb(65, 65, 65);
  color: #baf2fa;
}
