.NavBar_container {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 10%,
    rgba(0, 0, 0, 0.871) 40%,
    rgba(0, 0, 0, 0.678) 60%,
    rgba(0, 0, 0, 0.408) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 90px; /* not ready fix this  */ /* maybe ready  */
  display: flex;
}

.NavBar_left_side {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-right: auto;
  justify-content: center;
}

.NavBar_site-logo {
  display: flex;
}

.NavBar_container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.NavBar_container li {
  height: 50px;
}

.NavBar_genre-list a {
  height: 100%;
  padding: 0 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
}

.NavBar_container a:hover {
  color: var(--highlight-color);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.NavBar_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InputContainer {
  display: flex;
  align-items: center;
  margin: 0 20px;
  position: relative;
}

.NavBar_input-Warpper {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  overflow: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.NavBar_input-Warpper:hover {
  border: 1px solid var(--third-color);
  transition: border 0.3s ease-out;
}
.NavBar_input-Warpper:hover .search_icon {
  color: var(--highlight-color);
  transition: color 0.3s ease-out;
}

/*  btn that make the navbar show up  */

.NavBar_input-Warpper_Visible {
  overflow: hidden;
  opacity: 0;
  width: 0;
  transition: width 0.2s, opacity 0.4s;
}

.NavBar_search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.NavBar_search-form-btn {
  position: relative;
  background-color: var(--second-color);
  color: rgb(0, 0, 0);
  padding: 5px;
  border: transparent;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.NavBar_search-form-btn:hover {
  background-color: var(--main-color);
  transition: background-color 0.3s ease-out;
}

.filter_icon {
  margin-left: 5px;
  color: black;
}

.NavBar_search-form-search {
  background-color: transparent;
  color: var(--highlight-color);
  border: transparent;
  padding-left: 5px;
  cursor: pointer;
}

.NavBar_search-form-search:active {
  outline: none;
}
.NavBar_search-form-search:focus {
  outline: none;
}

.search_icon {
  color: var(--second-color);
  position: absolute;
  right: 5px;
  cursor: pointer;
}
.search_icon:hover {
  color: var( --Text-color);
  
}




.NavBar_site-profile {
  display: flex;
  align-items: center;
  margin-right: 50px;
  color: var(--highlight-color);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: var(--second-color);
  padding: 5px;
}

.NavBar_site-profile:hover {
  color: var(--second-color);
  background-color: var(--highlight-color);
  transition: background-color color 0.3s ease-out;
}
