.movie-explore-section {
  color: var(--main-color);
  position: absolute;
}

.content-container {
  display: grid;
  grid-template-columns: 80% 1fr; /* 80% for Latest, 1fr for Trending_updated */
}

.recommended-movies-container {
  display: flex;
  flex-wrap: wrap;

}
.latest-movies-container{

  display: flex;
  flex-wrap: wrap;

}

.Trending-Side_Content-movies{
  padding: 10px 10px 10px 0;
}