.Top-footer_container {
  background-color: rgb(43, 42, 42);
  width: 100%;
  height: 120px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.Top-footer_container ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Top-footer_container li {
  height: 50px;
}

.Top-footer_container a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--main-color);
  cursor: pointer;
}

.Top-footer_container a:hover {
  color: var(--highlight-color);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.copyright_section {
  padding: 5px 0 5px 5px;
}

hr {
  border-color: var(--Text-color);
  
}
